.Navbar{
    background-color:bisque;
    height: 90px;
    display: flex;
}
.lo1{
    margin-top: 24px;
    margin-left: 30px;
    font-size: 35px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lo2{
    margin-top: 24px;
    font-size: 35px;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lo3{
    margin-top: 24px;
    font-size: 35px;
    margin-right: 80px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.nav-menu{
    margin-left: 45px;
    margin-top: 34px; 
    margin-bottom: 20px;
    text-decoration: none;
    color: 	 #1a0e00;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.log{
    margin-top: 29px; 
    margin-left: 40px;
    text-decoration: none;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.sign{
    margin-top: 29px; 
    margin-left: 40px;
    text-decoration: none;
    color:brown;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sign::placeholder{
    color: bisque;
}
.se{
    margin-left: 100px;
    margin-top: 30px; 
    margin-bottom: 20px;
    text-decoration: none;
    width: 140px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
    background-color: brown;
    border: none;
    
}
.b1{
    margin-left: 40px;
    margin-top: 30px; 
    margin-bottom: 20px;
    text-decoration: none;
   background-color: cornflowerblue;
   color:bisque ;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 30px;
    font-size: 20px;
  border: none;
}
.nav-menu:hover{
    text-decoration:underline;
    color:cornflowerblue ;
}
.se:hover{
    cursor: pointer;
    
}
.b1:hover{
    cursor: pointer;
    ;
}
