.opo{
    
    background-color: 	 #1a0e00;
    height: 185vh;
}
.ril{
    text-decoration: none;
}
.memi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
    border-radius: 50%;
    height: 200px;
}
.info{
    color:#1a0e00;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ann{
    text-align: center;
}

.tc1{
    margin-top: 130px;
    margin-left: 5px;
    background-color: bisque;
    width:350px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    
}
.teamc{
   
        display: flex;
        justify-content: space-evenly;
}
.ou-te{
    margin-top: 90px;
}
.in-em{
    color:cornflowerblue;
    font-style: bold;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.xc{
   display: block;
   margin-left:60px ;
   margin-bottom: -60px;
}