.nopo{
    
    background-color: 	 #1a0e00;
    height: 135vh;
}

.mol{
    text-decoration: none;
    color: brown;
    margin-top: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ri1{
    text-decoration: none;
    color: brown;
    margin-top: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}