.ann{
    margin-top: 20px;
    color: cornflowerblue;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
.ann1{
    margin-top: 20px;
    color: cornflowerblue;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    background-color:brown ;
  
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
.fri{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
.lri{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.po{
    background-color: #1a0e00;
    height:130vh
}

.more{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 70px;
}