body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.tital{
	text-align: center;
	color: #1a0e00;
}
.container{
	max-width: 1480px;
	margin:auto;
	
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: bisque;
    padding: 70px ;
	margin-top: 0px;

	margin-left: 0px;
	
}
.footer-col{
   
	margin-top: 50px;
	margin-right: 85px;
	position: relative;
	left:20px;
	margin-bottom: 60px;
	
   
 
}
.footer-col h4{
	font-size: 18px;
	color: #1a0e00;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
	
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #1a0e00;
	text-decoration: none;
	font-weight: 300;
	color: #1a0e00;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #1a0e00;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #1a0e00;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: bisque;
	transition: all 0.5s ease;
	
}
.footer-col .social-links a:hover{
	color: #1a0e00;
	background-color: #1a0e00;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.cen{
	text-align: center;
}