.home{
    position: relative;
   
    background-color: 	 #1a0e00;
    height: 820vh;
}
.t1{
    text-align: center;
    color: brown;
    margin-top: 130px;
}
.cri{
    display:block;
    margin-left: auto;
    margin-right: auto;
height: 200px;

margin-top: 7px;
border-radius: 20px;
}
.c1{
    margin-top: 50px;
    margin-left: 5px;
    background-color: bisque;
    width:350px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    
}
.h1{
    color: bisque;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.r1{
    text-decoration: none;
    color: cornflowerblue;
}
.spga{
    text-decoration: none;
    color: cornflowerblue;
    margin-top: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fot{
    height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
margin-top: 7px;
border-radius: 20px;
}
.bas{
    height: 170px;
 
    display:block;
    margin-left: auto;
    margin-right: auto;
margin-top: 20px;
border-radius: 20px;
}
.t2{
    
    text-align: center;
    color: bisque;
    margin-top: 130px;

}
.c2{
margin-top: 50px;
margin-left: 5px;
background-color: cornflowerblue;
width:350px;
padding: 5px;
padding-top: 15px;
padding-bottom: 10px;
border-radius: 20px;
}
.pga{
color: brown;
margin-top: 10px;
margin-left: 15px;
margin-right: 15px;
padding: 5px;
text-align: justify;
font-size: 22px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.t3{

text-align: center;
color: bisque;
margin-top: 130px;
}
.input{
margin-left: 480px;
margin-top: 40px;
background-color: brown;
color: bisque;
text-align: center;
padding: 5px;
font-size: 28px;
border-radius: 20px;

}
.sub{
margin-left: 50px;
text-align: center;
font-size: 28px;
background-color: cornflowerblue;
padding: 10px;
padding-right: 15px;
padding-left: 15px;
color: bisque;
border-radius: 40px;
}
.c3{
    margin-top: 50px;
    margin-left: 5px;
    background-color: brown;
    width:350px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.fea{
    height: 250px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    border-radius: 20px;
    }
    .feo{
        height: 250px;
        display:block;
        margin-left: auto;
        margin-right: auto;
    margin-top: 7px;
    border-radius: 20px;
    }
    .t4{
        margin-left: 50px;
        margin-right: 50px;
        
        text-align: justify;
        color: cornflowerblue;
        margin-top: 20px;
        }

        .t5{
            margin-top: 90px;
            text-align: center;
            color: brown;
        }