
.contai{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 370px;
    height: 520px;
    background: bisque;
    padding-bottom: 30px;
    position: relative;
    top: 80px;
    border-radius: 30px;
    
}
.mar{
    height: 95vh;
    background-color: #1a0e00;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: cornflowerblue;
    font-size: 40px;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.underline{
    width: 161px;
    height: 6px;
    background: cornflowerblue;
    border-radius: 9px;
}
.puts{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.put.put{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    background: brown;
    border-radius: 6px;
    border-radius: 60px;
}
.put img{
    margin: 0px 30px;
}
.put{height: 50px;
    width: 400px;
    background: brown;
    border: none;
    outline: none;
    color: bisque;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #1a0e00;
    font-size: 18px;
}
.forgot-password span{
    color: #1a0e00;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 59px;
    color: bisque;
    background: cornflowerblue;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: cornflowerblue;
    color: bisque;
}
.lop{
    text-decoration: none;
    color: #1a0e00;
}
