body{
    height: 94vh;
    background: linear-gradient(#1a0e00,#1a0e00);
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #1a0e00;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background:#1a0e00 ;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #1a0e00;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
